<!DOCTYPE html>
<html xmls:th="html://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8" />

	<title th:text="${titulo}">Document</title>
</head>

<body>
	<h1 th:text="${titulo}"></h1>
	<thead>
		<tr>
			<th>rut</th>
			<th>email</th>
			<th>telefono</th>
			<th>fecha</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="cliente:${clientes}">
			<td th:text="${cliente.rut}"></td>
			<td th:text="${cliente.id}"></td>
			<td th:text="${cliente.id}"></td>
			<td th:text="${cliente.id}"></td>
		</tr>
	</tbody>

</body>

</html>